.product {
	margin-bottom: 80px;
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 50px;
		@media (max-width: 1600px) {
			padding: 0 20px;
		}
		@media (max-width: 768px) {
			flex-wrap: wrap;
		}
	}

	&__title {
		font-family: "Roboto";
		font-size: 4.8rem;
		font-weight: 700;
		line-height: 63px;
		letter-spacing: 0.02em;
		color: $blue-dark;
		@media (max-width: 768px) {
			margin-bottom: 25px;
		}
		@media (max-width: 475px) {
			font-size: 2.8rem;
			font-weight: 400;
		}
	}

	&__search {
		position: relative;
	}

	&__search-input {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		width: 320px;
		height: 50px;
		border: 1px solid $blue-dark;
		background: transparent;
		@media (max-width: 475px) {
			width: 280px;
		}

		&::placeholder {
			font-size: 2rem;
			color: $blue-dark;
		}
	}

	&__search-img {
		position: absolute;
		width: 20px;
		height: 20px;
		top: 50%;
		left: 45px;
		transform: translateY(-50%);
		fill: $blue-dark;
		@media (max-width: 475px) {
			left: 15px;
		}
	}
}

// * Catalog
// * ==================================

.catalog {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	@media (max-width: 667px) {
		grid-template-columns: 1fr;
	}

	&__item {
		position: relative;
		width: 100%;
		max-width: 530px;
		height: 320px;
		padding: 40px 0 0 40px;
		@media (max-width: 667px) {
			margin: 0 auto;
		}
	}

	&__link {
		font-family: "Roboto";
		font-size: 2.2rem;
		font-weight: 500;
		letter-spacing: 0.01em;
		color: $dark-text;
		@media (max-width: 768px) {
			font-size: 1.8rem;
		}
	}

	&__link-img {
		width: 20px;
		height: 12px;
		fill: $orange;
	}

	&__img {
		position: absolute;
		right: 0;
		bottom: 0;
		max-width: 280px;
	}
}

// * ============================
// *  BORDER ANIMATION
// * ============================
.catalog__link {
	& p {
		display: inline-block;
		position: relative;
		padding: 20px 10px;

		&::before {
			position: absolute;
			content: "";
			top: -2px;
			left: -2px;
			width: 0;
			height: 0;
			background: transparent;
			border: 2px solid transparent;
		}
		&:hover::before {
			animation: animate 1s linear forwards;
		}

		&::after {
			position: absolute;
			content: "";
			top: -2px;
			left: -2px;
			width: 0;
			height: 0;
			background: transparent;
			border: 2px solid transparent;
		}
		&:hover::after {
			animation: animate2 1s linear forwards;
		}
	}
}

@keyframes animate {
	0% {
		width: 0;
		height: 0;
		border-top-color: $orange;
		border-right-color: transparent;
		border-bottom-color: transparent;
		border-left-color: transparent;
	}
	50% {
		width: 100%;
		height: 0;
		border-top-color: $orange;
		border-right-color: $orange;
		border-bottom-color: transparent;
		border-left-color: transparent;
	}
	100% {
		width: 100%;
		height: 100%;
		border-top-color: $orange;
		border-right-color: $orange;
		border-bottom-color: transparent;
		border-left-color: transparent;
	}
}

@keyframes animate2 {
	0% {
		width: 0;
		height: 0;
		border-top-color: transparent;
		border-right-color: transparent;
		border-bottom-color: transparent;
		border-left-color: $orange;
	}
	50% {
		width: 0;
		height: 100%;
		border-top-color: transparent;
		border-right-color: transparent;
		border-bottom-color: $orange;
		border-left-color: $orange;
	}
	100% {
		width: 100%;
		height: 100%;
		border-top-color: transparent;
		border-right-color: transparent;
		border-bottom-color: $orange;
		border-left-color: $orange;
	}
}
