$dark: #0d0d0d;

$white: #fff;
$black: #000;
$placeholder: #6c757d;
$gray: #f8f9fa;
$dark-text: #212529;
$blue-dark: #000066;
$blue-light: #f3f9ff;
$blue-bg: #414195;
$orange: #ff6600;
$orange-dark: #e63700;

$desktop-bp: 1920px;
$notebook-bp: 1600px;
$macbook-bp: 1440px;
$tablet-lg-bp: 1024px;
$tablet-bp: 991px;
$tablet-sm-bp: 768px;
$mobile-bp: 667px;
$mobile-sm: 360px;
