@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@import "fonts";
@import "vars";
@import "mixins";
@import "base";

//==== Blocks ====
@import "blocks/container";
@import "blocks/header";
@import "blocks/main";
@import "blocks/history";
@import "blocks/advantage";
@import "blocks/product";
@import "blocks/partners";
@import "blocks/request";
@import "blocks/map";

@import "blocks/footer";
